* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}

.Top {
    display: grid;
    gap: 10px;
    background-image: url(https://static.wixstatic.com/media/11062b_ca88a6f079324d7c98963f33c1f2d48f~mv2.jpg/v1/fill/w_771,h_428,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01,enc_avif,quality_auto/11062b_ca88a6f079324d7c98963f33c1f2d48f~mv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 950px; 
}
.NavBar{
  display: grid;
  height: 90px;
  width: 100%;
  background-color: #ffffff;
  position: fixed;
  z-index: 9999;
  top: 0px;
}
.Nav{
    grid-column: 1 / span 1;
    grid-row: 1;
    margin-left: 90px;
}
.nav-links{
    padding: 20px;
    grid-column: 2/span 2;
    grid-row: 1;
  
  }
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 80px;
}
.nav-links ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
}
.nav-links a:hover {
    background-color: #ffffff;
    color: black;
}
.TextArea{
    color: white;
    grid-column: 2 / span 1;
    grid-row: 2;
    text-align: center;
    box-sizing: border-box;
    height: 400px;
    width: 900px;
    padding: 10px;
    background: rgba(8, 43, 89, 0.51);
    box-shadow: 0 0 10px rgb(8, 43, 89);
    border-radius: 10px;
    border-style: double;
   
}
.TextArea h1{
  margin-top: 80px;
    font-size: 40px;
}
.TextArea h3{
    font-size: 25px;
}
.TextArea p{
    font-size: 20px;
}
.Hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 15px;
    background: white;
    position: relative;
    cursor: pointer;
}
.Hero-btn:hover{
    border: 1px solid #D98555 ;
    background: #D98555;
    transition: 1s;
}


.AboutUs {
    background-image: url(assets/MacBook\ Air\ -\ 8.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    height: 1000px;
    position: relative;
}
.AboutContainer{
    width: 700px;
    height: 500px;
    position: absolute;
    top: 200px;
    right: 100px;
    border-radius: 30px;
    padding: 90px;
    text-align: center;
    box-shadow: 0 0 10px rgba(8, 43, 89, 0.914);
    background-color: #082B59;
}
.AboutContainer h1{
    font-size: 52px;
    color: white;
}
.AboutContainer p{
    font-size: 22px;
    color: white;
}

.ContactBtn{
    display: inline-block;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #ffffff;
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.ContactBtn:hover{
    border: 1px solid #D98555 ;
    background: #D98555;
    transition: 1s;
}
.ProductContainer{
    width: 100%;
    height: 832px;
}
.ProductText{
    text-align: center;
    margin: 20px;
    padding-top: 40px;
    font-size: 40px;
}
.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container-card {
    width: 400px;
    height: 600px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(8, 43, 89, 0.795);
    margin: 20px;
  }
  
  .image-container {
    height: 50%;
    overflow: hidden;
    margin-bottom: 0px;
  }
  
  .image-container img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .text-container {
    padding: 20px;
    height: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #082B59;
  }
  
  .text-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
  }
  
  .text-container p {
    font-size: 17px;
    color: #ffffff;
  }
  .CONTACT{
    position: relative;
    height: 832px;
    padding: 20px;
  }

  .ContactUs {
    width: 50%;
    height: 783px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .ShopImage {
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .ShopImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .ShopAddress {
    padding: 40px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    background-color: #082B59;
  }
  
  .ShopAddress h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
  }
  
  .ShopAddress p {
    font-size: 20px;
    color: white;
  }
  .contact-us-form {
    position: absolute;
    top: 50%;
    right: 300px;
    transform: translateY(-50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.391);
    width: 500px;
    height: 500px;
  }
  
  .contact-us-form h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 30px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form-group input, .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    background-color: #082B59;
    color: #fff;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  button[type="submit"]:hover {
    background-color: #05487a;
  }
  .Footer{
    width: 100%;
    text-align: center;
    font-size: 10px;
  }
  .FACEBOOK{
    padding-right: 20px;
    width: 50px;
    height: 50px;
  }
  .Instagram{
    padding-left: 20px;
    width: 50px;
    height: 50px;
  }
  
@media(max-width:1261px){

.AboutContainer{
    width: 400px;
    height: 600px;
    position: absolute;
    top: 50px;
    left: 700px;
    border-radius: 30px;
    padding: 90px;
    text-align: center;
    box-shadow: 0 0 10px rgba(8, 43, 89, 0.914);
    background-color: #082B59;
}
.contact-us-form {
  right: 40px;
  }
}

 